# TwitterStreamWorker git ignore list

# Appsettings
appsettings.json
appsettings.Development.json
appsettings.Production.json

# Logs
log.*

# Publish
publish/

# Folders
bin/
obj/
Properties/
.vs/

# Project files
TwitterStreamWorker.csproj.user
